<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>About</title>
</head>

<body>


    <div id="allPage">

        <div class="cont">
            {{>header}}
            <p>side porject to explore Node js , express  and Api from darksky and mapbox </p>
            {{>footer}}
        </div>
    </div>

</body>

</html>