<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./css/style.css">
  
</head>

<body>

    <div id="allPage">

        <div class="cont">

            {{>header}}
                <form id="myFrom">
                    <input placeholder="Location ex: Cairo">
                    <button>Search</button>
                    <h2 id="loading"></h2>
                    <h2 id="ans"></h2>
                </form>
            {{>footer}}

        </div>
    </div>


  <script src="./js/app.js"></script>
</body>

</html>